<div class="page-header">
  <%= link_to book_copies_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to book_copy_path(@copy), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Editar Ejemplar</h1>
</div>

<%= render 'form' %>
