<h1>Desarrolladores</h1>
<br><br>
<div class="creators">
	<div class="creator">
		<div class="creator_image" style="background-image: url('<%=image_path('guzman.jpg')  %>')"></div>
		<div class="creator_desc">
			<h2>Andrés Guzmán</h2>
		</div>
	</div>	
	<div class="creator">
		<div class="creator_image" style="background-image: url('<%=image_path('franco.jpg')  %>')"></div>
		<div class="creator_desc">
			<h2>Felipe Franco</h2>
		</div>
	</div>	
	<div class="creator">
		<div class="creator_image" style="background-image: url('<%=image_path('cristian.jpg')  %>')"></div>
		<div class="creator_desc">
			<h2>Cristian Ortiz</h2>
		</div>
	</div>	
</div>